body {
    margin: 0;
    background: #e8f0ff;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: #1e3cff;
    color: white;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.site-logo {
    height: 45px;
    margin-right: 12px;
}

.post-btn {
    background: white;
    color: #1e3cff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.post-btn:hover {
    background: #dfe4ff;
}

/* GENERAL */
.page-title {
    text-align: center;
    margin-top: 25px;
}

/* POSTS */
.post {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.post.full {
    margin: 20px auto;
    width: 80%;
}

/* FORMS */
.post-form, .comment-form {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.post-form input,
.post-form textarea,
.comment-form textarea {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #b5c6ff;
}

.post-form button,
.comment-form button {
    padding: 10px;
    background: #1e3cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #142bcc;
}

/* COMMENTS */
.comment {
    background: white;
    padding: 12px;
    margin: 10px 20px;
    border-left: 4px solid #1e3cff;
    border-radius: 6px;
}
